<div class="toolbar">
    <a class="home-icon icon-outline" mat-button routerLink="/">
        <mat-icon aria-hidden="false" aria-label="home icon">movie</mat-icon>
    </a>
    <a class="home" routerLink="/">Movie Database</a>
    <div class="spacer">
        <div class="dropdown">
            <a class="dropbtn">Dropdown 1</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn">Dropdown 2</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>

        <div class="dropdown">
            <a class="dropbtn">Dropdown 3</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>

    <h3> Search bar and login here</h3>
</div>